<div class="row">
    <div class="col-md-12 header">
        <div class="logo">
            <a href="/">Apollo Crawler</a>
        </div>

        <div class="menu">
            <ul>
                <li><a href="http://craftsmen.apollocrawler.com">Projects</a></li>
                <li>{{#link-to 'about'}}About{{/link-to}}</li>
                <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
            </ul>
        </div>
    </div>
</div>