<div class="row">
    <div class="col-md-12 header">
        <div class="logo">
            <a href="/">Apollo Crawler</a>
        </div>

        <div class="menu">
            <ul>
                <li>{{#link-to 'projects'}}Projects{{/link-to}}</li>
                <li>{{#link-to 'about'}}About Us{{/link-to}}</li>
            </ul>
        </div>
    </div>
</div>