<div class="container">

    <div class="row">
        <div class="col-md-12 header">
            <div class="logo">
                <a href="/">Apollo Crawler</a>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="http://craftsmen.apollocrawler.com">Projects</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>About Us</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Tomas</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aliquid blanditiis cum
                doloribus eius fugiat hic illo laborum molestias nesciunt numquam omnis repellendus sint ullam vero
                vitae, voluptatibus. Aut consectetur cum deserunt dignissimos earum est excepturi expedita illum itaque
                magnam maxime omnis provident quos ratione, reiciendis repellat repudiandae voluptatibus.</p>
        </div>
        <div class="col-md-6">
            <h2>Pavel</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aliquid blanditiis cum
                doloribus eius fugiat hic illo laborum molestias nesciunt numquam omnis repellendus sint ullam vero
                vitae, voluptatibus. Aut consectetur cum deserunt dignissimos earum est excepturi expedita illum itaque
                magnam maxime omnis provident quos ratione, reiciendis repellat repudiandae voluptatibus.</p>
        </div>
    </div>

</div>

{{outlet}}