<div class="container">

    <div class="row">
        <div class="col-md-12 header">
            <div class="logo">
                <a href="/">Apollo Crawler</a>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="http://craftsmen.apollocrawler.com">Projects</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur deserunt eligendi eum illo incidunt
                laborum non nostrum omnis placeat quidem recusandae sapiente suscipit, voluptatum! Cumque doloribus ea
                earum ex necessitatibus quisquam soluta? Ab enim fuga fugit necessitatibus nulla porro praesentium vero,
                voluptatem? Ad dolores dolorum expedita illum incidunt provident qui sed sint, voluptate. Ab accusantium
                aliquam architecto autem commodi consequuntur corporis cupiditate, debitis deserunt distinctio dolor
                dolore dolorem ducimus eos eum fuga fugit harum illum iure iusto laboriosam maiores molestias
                necessitatibus pariatur perspiciatis praesentium quibusdam quo quod reiciendis sapiente sequi sint
                soluta tenetur totam ullam vero voluptates? Accusantium ad amet aut autem, culpa dicta, eius eveniet
                molestiae neque nostrum pariatur perferendis qui ut? Alias aliquid assumenda, cumque cupiditate debitis
                delectus doloremque ducimus facere impedit iure modi nemo placeat quam quasi quia quo repellendus, sunt
                totam unde velit? Accusamus ad animi aut consequuntur cupiditate debitis distinctio dolorem, doloremque
                enim error esse eveniet facere labore laborum magnam minus mollitia nemo nihil nobis nostrum nulla odit
                placeat quis quos reiciendis sapiente sed tempora tempore veniam voluptatem. Aspernatur dicta fugit odio
                officia quia velit. Adipisci aliquid dolorum earum error ex hic ipsam ipsum rerum totam veniam. A
                aliquid iusto nam nostrum tempora. Autem, eum.</p>
        </div>
    </div>

</div>

{{outlet}}