{{partial "_head"}}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="hero-message">
                <div class="rotator">
                    <span class="light">We</span>
                    <span class="action"><a id="changeOnClick" href="#">love</a></span>
                    <span class="strong">Data</span>
                </div>

                <div class="into-text">
                    Check out our latest project
                    <a class="action" href="http://craftsmen.apollocrawler.com/">Craftsmen</a>
                </div>
            </div>
        </div>
    </div>

</div>

{{outlet}}