<div class="container">

    {{partial "_head"}}

    <div class="row">
        <div class="col-md-12">
            <div class="hero-message">
                <span class="light">We</span>
                <span class="action"><a id="changeOnClick" href="#">love</a></span>
                <span class="strong">Data</span>
            </div>
        </div>
    </div>

</div>

{{outlet}}