{{partial "_head"}}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>About Us</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="into-text">We are <strong>two man army</strong> of young and <strong>energetic</strong>
                entrepreneurs <strong>hackers</strong> that fell in <strong>love</strong> with <strong>data</strong>.
                We work with them with passion using modern technologies.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <img src="/img/mr_t.png" alt="Illustration photo"/>
        </div>
        <div class="col-sm-4">
            <h2>Tomas Korcak (@korczis)</h2>
            <p>Senior software developer with 10 years of  skills gathered during battles with aerospace, game industry and enterprise projects of various sizes. </p>
            <p>Software Architect during day. <br/>
                Hacker at night. <br/>
                Electronic music lover.
            </p>
            <p>
                Twitter: <a href="https://twitter.com/korczis">twitter.com/korczis</a> <br/>
                Github: <a href="https://github.com/korczis">github.com/korczis</a> <br/>
                LinkedIn: <a href="http://www.linkedin.com/in/korcaktomas">linkedin.com/in/korcaktomas</a>
            </p>
        </div>
        <div class="col-sm-2">
            <img src="/img/mr_p.png" alt="Illustration photo"/>
        </div>
        <div class="col-sm-4">
            <h2>Pavel Binar</h2>
            <p>Skillful user experience designer, frontend developer and business hustler. 8 yerst independently working in customer internet industry.</p>

            <p>
                Twitter: <a href="https://twitter.com/pavelbinar">twitter.com/pavelbinar</a> <br/>
                Github: <a href="https://github.com/pavelbinar">github.com/pavelbinar</a> <br/>
                LinkedIn: <a href="http://www.linkedin.com/in/pavelbinar">linkedin.com/in/pavelbinar</a> <br/>
                www: <a href="http://www.pavelbinar.cz">pavelbinar.cz</a>
            </p>
        </div>
    </div>

</div>

{{outlet}}