{{partial "_head"}}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>Projects</h1>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6">
            <h2>apollocrawler.com</h2>

            <p>Quick website implementation on the top of microscratch framework.</p>

            <p>
                <i class="fa fa-github-alt lg link-icon"></i>
                <a href="https://github.com/korczis/apollocrawler.com" target="_blank">github.com/korczis/apollocrawler.com</a>

                <i class="fa fa-link lg link-icon"></i>
                <a href="http://apollocrawler.com/" target="_blank">apollocrawler.com</a>
            </p>

            <h2>microscratch</h2>

            <p>Light Weight Web Framework using node.js, mongo, sockets, ember.js ....</p>

            <p>
                <i class="fa fa-github-alt lg link-icon"></i>
                <a href="https://github.com/korczis/microscratch" target="_blank">github.com/korczis/microscratch</a>
                <br/>

                <i class="fa fa-link lg link-icon"></i>
                <a href="http://microscratch.net/" target="_blank">microscratch.net</a>
            </p>

        </div>

        <div class="col-sm-6">
            <h2>The Scratch</h2>

            <p>One-stop solution for modern web projects</p>

            <p>
                <i class="fa fa-github-alt lg link-icon"></i>
                <a href="https://github.com/korczis/the-scratch" target="_blank">github.com/korczis/the-scratch</a>
            </p>
        </div>

    </div>

</div>

{{outlet}}